---
- name: download the explorer from Github
  git:
    repo: git://github.com/MultiChain/multichain-explorer-2.git
    dest: /home/ansible/multichain-explorer-2
    version: master
    update: no
  register: githubCloneResult

- name: place explorer config file
  template:
    src: example.ini.j2
    dest: /home/ansible/multichain-explorer-2/config.ini
  when: githubCloneResult.changed

- name: get the password
  slurp:
    src: /home/ansible/.multichain/{{ blockchainName }}/multichain.conf
  register: slurpResult

- name: set fact as password
  set_fact:
    userDecoded: "{{ slurpResult['content'] | b64decode | regex_findall('.+?(?=\n)') }}"

- name: set fact as password
  set_fact:
    passwordDecoded: "{{ slurpResult['content'] | b64decode | regex_findall('\n(.*)') }}"

- name: put password and user into explorer config
  lineinfile:
    path: /home/ansible/multichain-explorer-2/config.ini
    regexp: "{{ item.regexp}}"
    line: "{{ item.line }}"
  loop:
  - regexp: 'rpcpassword='
    line: "{{ passwordDecoded[0] }}"
  - regexp: 'rpcuser='
    line: "{{ userDecoded[0] }}"
