---
- name: make chain come back up after reboot
  cron:
    name: "blockchain {{ blockchainName }}"
    state: present
    special_time: reboot
    job: "sleep 10 && /usr/local/bin/multichaind {{ blockchainName }}@{{ hostvars['multichain-contractor'].ansible_host }}:{{ networkPort }} -daemon -rpcallowip=0.0.0.0/0 >> /home/ansible/.multichain/{{ blockchainName }}/autostart.log"
    user: ansible
  register: cronResult
