#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if item.bridge is defined %}
BRIDGE={{ item.bridge }}
{% endif -%}
{% if item.bootproto == 'static' %}
DEVICE={{ item.device }}
BOOTPROTO=static
    {% if item.address is defined %}
IPADDR={{ item.address }}
    {% endif -%}

    {% if item.netmask is defined %}
NETMASK={{ item.netmask }}
    {% endif -%}

    {% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
    {% endif -%}

    {% if item.vlan is defined and item.vlan | bool %}
{% include  "ethernet_RedHat_vlan_options.j2" %}
    {% endif -%}

{% endif -%}

{% if item.dns_nameservers is defined %}
    {% for dns_nameserver in item.dns_nameservers %}
DNS{{ loop.index }}={{ dns_nameserver }}
    {% endfor %}
{% endif -%}

{% if item.hwaddress is defined%}
HWADDR={{ item.hwaddress }}
{% endif -%}

{% if item.bootproto == 'dhcp' %}
DEVICE={{ item.device }}
BOOTPROTO=dhcp
    {% if item.vlan is defined and item.vlan | bool %}
{% include  "ethernet_RedHat_vlan_options.j2" %}
    {% endif %}
{% endif -%}

{% if item.nm_controlled is defined %}
NM_CONTROLLED={{ item.nm_controlled }}
{% endif -%}

{% if item.ipv6_address is defined %}
IPV6INIT="yes"
IPV6ADDR={{ item.ipv6_address }}
{% endif -%}

{% if item.ipv6_address_secondaries is defined %}
IPV6ADDR={{ item.ipv6_address }}
IPV6ADDR_SECONDARIES="{{ item.ipv6_address_secondaries }}"
{% endif -%}

{% if item.gateway is defined and ( item.route6.0.default is defined and item.route6.0.default is sameas true) %}
IPV6_DEFAULTGW="{{ item.ipv6_gateway }}"
{% endif -%}
IPV6_AUTOCONF=no
{% if item.onboot is defined %}
ONBOOT={{ item.onboot | bool | ternary("yes", "no") }}
{% endif -%}

{% if item.defroute is defined %}
DEFROUTE={{ item.defroute | bool | ternary("yes", "no") }}
{% endif -%}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif -%}

{% if item.firewalld_zone is defined %}
ZONE={{ item.firewalld_zone }}
{% endif %}
