import json
import requests
from requests.auth import HTTPBasicAuth

url = 'http://{{ ansible_default_ipv4.address }}:{{ rpcPort }}/'
headers = {'content-type': 'application/json'}

payload = {"method":"getinfo","params":[],"id":1,"chain_name":"supplyChain"}

r = requests.post(url, data=json.dumps(payload), headers=headers, auth=HTTPBasicAuth('{{ userDecoded[0] }}', '{{ passwordDecoded[0] }}'))

print(r.text)
